
/* VARIABLES/CONSTANTS */

:root {
/* colors */
    --clr-primary: #FDD700;
    --clr-secondary: #0000C8;
    --clr-tertiary: #C5003C;

    --clr-primary10: #fdd70010;
    --clr-secondary10: #0000C810;
    --clr-tertiary10: #C5003C10;

    --clr-background: #FAFAFA;
    --clr-white: #fff;
    --clr-black: #000;
    --clr-black50: #00000050;

/* typography */
    --ff-primary: 'Quicksand', sans-serif;

    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-300: 1rem;
    --fs-400: 1.25rem;
    --fs-500: 1.5rem;
    --fs-600: 2rem;
    --fs-700: 2.25rem;
    --fs-800: 3rem;
    --fs-900: 4.5rem;

    --fs-body: var(--fs-300);
    --fs-primary-h: var(--fs-800);
    --fs-secondary-h: var(--fs-700);
    --fs-tertiary-h: var(--fs-500);

/* sizes */
    --size-50: .5rem;
    --size-100: 1rem;
    --size-150: 1.5rem;
    --size-200: 2rem;
    --size-250: 2.5rem;
    --size-300: 3rem;
    --size-350: 3.5rem;
    --size-400: 4rem;

/* gradients */
    --grd-primary-mobile: linear-gradient(180deg, var(--clr-primary10) 10% 69%, var(--clr-primary) 90% 100%);
    --grd-secondary-mobile: linear-gradient(180deg, var(--clr-secondary10) 10% 69%, var(--clr-secondary) 90% 100%);
    --grd-tertiary-mobile: linear-gradient(180deg, var(--clr-tertiary10) 10% 69%, var(--clr-tertiary) 90% 100%);

    --grd-primary-desk:  linear-gradient(90deg, var(--clr-primary) 0 5%, var(--clr-primary10) 30% 50%, var(--clr-primary10) 50% 80%, var(--clr-primary) 95% 100%);
    --grd-secondary-desk: linear-gradient(90deg, var(--clr-secondary) 0 5%, var(--clr-secondary10) 30% 50%, var(--clr-secondary10) 50% 80%, var(--clr-secondary) 95% 100%);
    --grd-tertiary-desk: linear-gradient(90deg, var(--clr-tertiary) 0 5%, var(--clr-tertiary10) 30% 50%, var(--clr-tertiary10) 50% 80%, var(--clr-tertiary) 95% 100%);

/* box-shadow */
    --box-shadow: 2px 2px 2px var(--clr-black50);
    --box-shadow-hover: 5px 5px 5px var(--clr-black50);
}

/* UTILITY CLASSES */

/* text */
.text-white { color: var(--clr-white); }
.text-primary { color: var(--clr-primary); }
.text-secondary { color: var(--clr-secondary); }
.text-tertiary { color: var(--clr-tertiary); }

.fw-semi-bold { font-weight: var(--fw-semi-bold); }
.fw-bold { font-weight: var(--fw-bold); }

.fs-body {font-size: var(--fs-body); }
.fs-primary-h {font-size: var(--fs-primary-h); }
.fs-secondary-h {font-size: var(--fs-secondary-h); }
.fs-tertiary-h {font-size: var(--fs-tertiary-h); }

/* background colors */
.bg-primary { background-color: var(--clr-primary); }
.bg-secondary { background-color: var(--clr-secondary); }
.bg-tertiary { background-color: var(--clr-tertiary); }
.bg-primary10 { background-color: var(--clr-primary10); }
.bg-secondary10 { background-color: var(--clr-secondary10); }
.bg-tertiary10 { background-color: var(--clr-tertiary10); }

/* margins */
.margin-block-50 { margin-block: var(--size-50) }
.margin-block-100 { margin-block: var(--size-100) }
.margin-block-200 { margin-block: var(--size-200) }
.margin-block-400 { margin-block: var(--size-400) }

/* paddings */
.padding-block-50 { padding-block: var(--size-50) }

/* GLOBAL */

/* Default styles are applying to mobile view according to the mobile-first-principle.
Changes for larger/wider screens is done in media queries */

* {
    margin: 0;
    padding: 0;
  }

body {
    font-size: var(--fs-body);
    font-family: var(--ff-primary);
    color: var(--clr-black);
    height: 100%;
}

h1, h2, h3, button, a, p {
    margin: 0;
    padding: 0;
}

header, footer {
    margin: 0;
    padding: var(--size-100);
}

.container {
    padding: var(--size-100);
}

.even-columns {
    display: grid;
    gap: 2rem;
}

.desktop-nav, label, .display-card p, .display-card a {
    display: none;
}

.display-card:hover, button:hover, .event-card:hover {
    box-shadow: var(--box-shadow-hover);
    cursor: pointer;
}

button {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 2em;
    box-shadow: var(--box-shadow);
    transition: 0.3s;
}

/* HEADER */

/* navigation */

.logo {
    width: 10em;
}

.top-nav {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* header showcase */

header {
    position: relative;
    isolation: isolate;
}

header h1 {
    max-width: 8em;
}

.header-info {
    display: flex;
    justify-content: start;
    gap: 1rem;
}

/* header background */

/* The background image is not present in the html as it is primary for decoration. */

header::before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: 0.4;
    background-size: cover;
    aspect-ratio: 1/1;
    height: 100%;
    width: 100%;
    background-position: center;
}

/* different images per page. Some repetition here... */

.home::before {
    background-image: var(--grd-primary-mobile), url(images/vr.jpg);
    height: 69%;
}

.visit::before {
    background-image: var(--grd-primary-mobile), url(images/museum.jpg);
}

.exhibitions::before {
    background-image: var(--grd-secondary-mobile), url(images/scientific.jpg);
}

.get-involved::before {
    background-image: var(--grd-primary-mobile), url(images/empty_room.jpg);
}

.events::before {
    background-image: var(--grd-tertiary-mobile), url(images/girl_math.jpg);
}

/* MAIN */

/* home and exhibition-cards */

.display-card {
    display: grid;
    grid-template-columns: 5fr 1fr 10fr 1fr;
    align-items: center;
    height: 5em;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    transition: 0.3s;
}

.display-card img {
    width: 100%;
    height: 5em;
    object-fit: cover;
    border-radius: 5px 0px 0px 5px;
}

.display-card i {
    margin: auto;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* event card */

.event-card {
    display: grid;
    grid-template-columns: 1fr;
    align-content: flex-start;
    height: 32em;
    text-align: center;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    transition: 0.3s;
}

.event-card img {
    width: 100%;
    height: 12em;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

.event-card i {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-60%);
    border-radius: 50%;
    display: grid;
}

/* HOME - numbers container */

.numbers-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    justify-content: space-evenly;
    padding: var(--size-100);
}

/* EXHIBITIONS - customer reviews */

.customer-reviews {
    margin-top: var(--size-200);
}

.customer-reviews img {
    object-fit: cover;
    transform: translateY(-60%);
    width: 6em;
    height: 6em;
    border-radius: 50%;
}

.customer-reviews div {
    transform: translateY(-40%);
}

/* VISIT */

.visit-info, .customer-reviews {
    text-align: center;
    padding: var(--size-100);
}

.visit-info p {
    width: 15em;
    margin: auto;
}

/* GET INVOLVED */

.get-involved-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FOOTER */

.social-links {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    margin-top: var(--size-200);
}

.social-links i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.footer-nav {
    display: grid;
}

form {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: var(--size-200);
    gap: var(--size-100);
}

input {
    border: none;
    padding: var(--size-50);
}

input::placeholder {
    font-size: var(--fs-body);
    color: var(--clr-black50);
}

/* MOBILE NAV - SPECIAL */
/* Instead of doing the checkbox-hack, I made a seperate page. I am fully aware that this is not
how mobile menus are made, but I feel the checkbox hack messes up my code - unneccesary */

.mobile-nav nav {
    display: grid;
}

.mobile-nav {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.mobile-nav header, .mobile-nav footer {
    min-height: 50px;
}

.mobile-nav main {
    flex: 1;
}

/* MEDIAQUIERY */

@media (min-width: 800px) {

    /* font size changes */
    :root {
        --fs-body: var(--fs-400);
        --fs-primary-h: var(--fs-900);
        --fs-secondary-h: var(--fs-800);
        --fs-tertiary-h: var(--fs-600);
    }
    
    /* GLOBAL */

    .container {
        max-width: 1100px;
        margin: auto;
    }

    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

    .reverse {
        order: 1;
    }

    /* HEADER */

    /* navigation */
    .top-nav {
        grid-template-columns: 1fr 1fr;
    }

    .top-nav nav {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
    }

    .hamburger-menu {
        display: none;
    }

    /* showcase */
    .header-info-container {
        display: flex;
        justify-content: end;
        max-width: 1000px;
        margin: auto;
    }

    .header-info-flex {
        display: grid;
        grid-template-columns: 1fr;
    }

    /* background */
    header::before {
        margin: auto;
        height: 100%;
        width: 50%;
    }

    .home::before {
        background-image: var(--grd-primary-desk), url(images/vr.jpg);
        height: 100%;
    }

    .visit::before {
        background-image: var(--grd-primary-desk), url(images/museum.jpg);
    }

    .get-involved::before {
        background-image: var(--grd-primary-desk), url(images/empty_room.jpg);
    }

    .exhibitions::before {
        background-image: var(--grd-secondary-desk), url(images/scientific.jpg);
    }

    .events::before {
        background-image: var(--grd-tertiary-desk), url(images/girl_math.jpg);
    }

    /* MAIN */

    /* display */
    .display-info {
        text-align: center;
    }

    .display-card p, .display-card a {
        display: block;
    }

    .display-card {
        grid-template-columns: 1fr;
        align-content: flex-start;
        height: 22em;
        text-align: center;
    }

    .display-card img {
        height: 8em;
        border-radius: 5px 5px 0px 0px;
    }
    
    .display-card i {
        transform: translateY(-60%);
        width: 50px;
        height: 50px;
    }
    
    .display-card i:last-of-type {
        display: none;
    }

    /* visit */
    .visit-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr
    }

    /* FOOTER */

    .social-links {
        margin-top: 0;
    }

    .footer-flex {
        display: grid;
        grid-auto-flow: column;
    }
}