:root {
/* Colors */
    --clr-primary: #FDD700;
    --clr-secondary: #0000C8;
    --clr-tertiary: #C5003C;

    --clr-primary10: #fdd70010;
    --clr-secondary10: #0000C810;
    --clr-tertiary10: #C5003C10;

    --clr-background: #FAFAFA;
    --clr-white: #fff;
    --clr-black: #000;
    --clr-black50: #00000050;

/* Typography */
--ff-primary: 'Quicksand', sans-serif;

--ff-body: var(--ff-primary);
--ff-heading: var(--ff-primary);

--fw-regular: 400;
--fw-semi-bold: 600;
--fw-bold: 700;

--fs-300: 1rem;
--fs-400: 1.25rem;
--fs-500: 1.5rem;
--fs-600: 2rem;
--fs-700: 2.25rem;
--fs-800: 3rem;
--fs-900: 4.5rem;

--fs-body: var(--fs-300);
--fs-button: var(--fs-500);
--fs-primary-h: var(--fs-800);
--fs-secondary-h: var(--fs-700);
--fs-tertiary-h: var(--fs-500);

--space-50: .5rem;
--space-100: 1rem;
--space-150: 1.5rem;
--space-200: 2rem;
--space-250: 2.5rem;
--space-300:3rem;
--space-350: 3.5rem;
--space-400: 4rem;

}

@media (min-width: 50em) {
    :root {
        --fs-body: var(--fs-400);
        --fs-button: var(--fs-600);
        --fs-primary-h: var(--fs-900);
        --fs-secondary-h: var(--fs-800);
        --fs-tertiary-h: var(--fs-600);
    }
}

/* Utility classes */

/* text */
.text-black { color: var(--clr-black); }
.text-white { color: var(--clr-white); }
.text-primary { color: var(--clr-primary); }
.text-secondary { color: var(--clr-secondary); }
.text-tertiary { color: var(--clr-tertiary); }

.fw-regular{ font-weight: var(--fw-regular); }
.fw-semi-bold { font-weight: var(--fw-semi-bold); }
.fw-bold { font-weight: var(--fw-bold); }

.fs-body {font-size: var(--fs-body); }
.fs-primary-h {font-size: var(--fs-primary-h); }
.fs-secondary-h {font-size: var(--fs-secondary-h); }
.fs-tertiary-h {font-size: var(--fs-tertiary-h); }

.fs-300 {font-size: var(--fs-300); }
.fs-400 {font-size: var(--fs-400); }
.fs-500 {font-size: var(--fs-500); }
.fs-600 {font-size: var(--fs-600); }
.fs-700 {font-size: var(--fs-700); }
.fs-800 {font-size: var(--fs-800); }
.fs-900 {font-size: var(--fs-900); }

/* backgrounds */
.bg-black { background-color: var(--clr-black); }
.bg-white { background-color: var(--clr-white); }
.bg-primary { background-color: var(--clr-primary); }
.bg-secondary { background-color: var(--clr-secondary); }
.bg-tertiary { background-color: var(--clr-tertiary); }
.bg-primary10 { background-color: var(--clr-primary10); }
.bg-secondary10 { background-color: var(--clr-secondary10); }
.bg-tertiary10 { background-color: var(--clr-tertiary10); }

/* margins */
.margin-50 { margin: var(--space-50) 0; }
.margin-100 { margin: var(--space-100) 0; }
.margin-150 { margin: var(--space-150) 0; }
.margin-200 { margin: var(--space-200) 0; }
.margin-250 { margin: var(--space-250) 0; }
.margin-300 { margin: var(--space-300) 0; }
.margin-350 { margin: var(--space-350) 0; }
.margin-400 { margin: var(--space-400) 0; }

.even-columns {
    display: grid;
    gap: 2rem;
}

@media (min-width: 50em) {
    .container {
        --max-width: 1110px;
        padding: 1rem;
        width: min(var(--max-width), 100% - var(--padding) * 2);
        margin-inline: auto;
        margin: 7em;
    }

    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

    .display-card {
        width: 100%;
        min-height: 22.5em;
        margin: auto;
        border-radius: 5px;
        position: relative;
        text-align: center;
        box-shadow: 2px 2px 2px var(--clr-black50);
        transition: 0.3s;
    }

    .display-card img {
        width: 100%;
        height: 10em;
        object-fit: cover;
        position: relative;
        border-radius: 5px 5px 0px 0px;
    }
    
    .display-card i {
        width: 50px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        transform: translateY(-60%);
        border-radius: 50%;
        display: grid;
        align-items: center;
    }
}

body {
    font-size: var(--fs-body);
    font-family: var(--ff-body);
    color: var(--clr-black);
}

h1, h2, h3, button, a, p {
    margin: 0;
    padding: 0;
}


header, footer {
    background-color: var(--clr-primary);
    margin: 0;
    padding: 1rem;
}

.top-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: end;
}

.top-nav nav {
    display: none;
}

.logo {
    width: 100%;
}

.header-info {
    display: flex;
    justify-content: start;
    gap: 1rem;
}

.button {
    padding: 0.5rem 0;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--clr-black50);
    transition: 0.3s;
}

.display-info {
    display: grid;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.display-card:hover, button:hover {
    box-shadow: 5px 5px 5px var(--clr-black50);
    cursor: pointer;
}

.numbers-container {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 4rem 0;
}
