/* CONSTANTS */

/* text */
.text-white { color: var(--clr-white); }
.text-black { color: var(--clr-black); }
.text-primary { color: var(--clr-primary); }
.text-secondary { color: var(--clr-secondary); }
.text-tertiary { color: var(--clr-tertiary); }

.fw-semi-bold { font-weight: var(--fw-semi-bold); }
.fw-bold { font-weight: var(--fw-bold); }

.fs-body {font-size: var(--fs-body); }
.fs-primary-h {font-size: var(--fs-primary-h); }
.fs-secondary-h {font-size: var(--fs-secondary-h); }
.fs-tertiary-h {font-size: var(--fs-tertiary-h); }

/* background colors */
.bg-primary { background-color: var(--clr-primary); }
.bg-secondary { background-color: var(--clr-secondary); }
.bg-tertiary { background-color: var(--clr-tertiary); }
.bg-primary10 { background-color: var(--clr-primary10); }
.bg-secondary10 { background-color: var(--clr-secondary10); }
.bg-tertiary10 { background-color: var(--clr-tertiary10); }

/* margins */
.margin-block-50 { margin-block: var(--size-50) }
.margin-block-100 { margin-block: var(--size-100) }
.margin-block-200 { margin-block: var(--size-200) }
.margin-block-400 { margin-block: var(--size-400) }