@import url(/styles/imports/variables.css);
@import url(/styles/imports/constants.css);

/* GLOBAL */

/* Default styles are applying to mobile view according to the mobile-first-principle.
Changes for medium/large screens is done in media queries */

* {
    margin: 0;
    padding: 0;
  }

body {
    font-size: var(--fs-body);
    font-family: var(--ff-primary);
    color: var(--clr-black);
    height: 100%;
}

h1, h2, h3, button, a, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header, footer {
    margin: 0;
    padding: var(--size-100);
}

.container {
    padding: var(--size-100);
}

.even-columns {
    display: grid;
    gap: var(--size-200);
}

.desktop-nav, label, .card_display p, .card_display a {
    display: none;
}

.card_display:hover, .button:hover, .card_event:hover {
    box-shadow: var(--box-shadow-hover);
    cursor: pointer;
    transform: scale(1.02);
}

a:hover:not(.button, .social-links a) {
    text-decoration: underline;
}

.button {
    display: block;
    border-radius: var(--radius-default);
    text-align: center;
    font-weight: var(--fw-semi-bold);
    align-content: center;
    padding: var(--size-50);
    box-shadow: var(--box-shadow);
    transition: var(--dur-default);
}

nav a {
    padding: var(--size-50);
    transition: var(--dur-default);
}

nav a:hover:not(.mobile-nav_link) {
    background-color: var(--clr-black10);
    border-radius: var(--radius-default);
    transform: scale(1.1);
}

/* HEADER */

/* navigation */

.logo {
    width: 10em;
    height: auto;
}

.top-nav {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    justify-content: space-between;
}

/* header showcase */

header {
    position: relative;
    isolation: isolate;
}

header h1 {
    max-width: 8em;
}

.header-info {
    display: flex;
    justify-content: start;
    gap: 1rem;
}
/* header background */

/* The background image is not present in the html as it is primary for decoration. */

header::before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: 0.4;
    background-size: cover;
    aspect-ratio: 1/1;
    height: 100%;
    width: 100%;
    background-position: center;
    animation: fadein 3s 1;
}

/* Animation that makes the header image appear with a fade */
@keyframes fadein {
    0% {
        opacity: 0.01;
        transform: scale(0.95);
    }

    100% {
        opacity: 0.4;
        transform: scale(1);
    }
}

/* different images per page. Some repetition here... */

.home::before {
    background-image: var(--grd-primary-mobile), url(/images/vr.jpg);
    height: 69%;
}

.visit::before {
    background-image: var(--grd-primary-mobile), url(/images/museum.jpg);
}

.exhibitions::before {
    background-image: var(--grd-secondary-mobile), url(/images/scientific.jpg);
}

.get-involved::before {
    background-image: var(--grd-primary-mobile), url(/images/empty_room.jpg);
}

.events::before {
    background-image: var(--grd-tertiary-mobile), url(/images/girl_math.jpg);
}

/* MAIN */

/* cards - defaults */

.card {
    display: grid;
    overflow: overlay;
    border-radius: var(--radius-default);
    box-shadow: var(--box-shadow);
    transition: var(--dur-default);
}

.card img {
    width: 100%;
    object-fit: cover;
}

.card i {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-circle);
}

.card:hover .explore-link {
    font-size: var(--fs-400);
    background-color: var(--clr-black10);
}

.explore-link {
    padding: var(--size-100);
    transition: 0.5s;
}

/* cards - home and exhibition */
.card_display {
    grid-template-columns: 5fr 1fr 10fr 1fr;
    align-items: center;
    height: 5em;
}

.card_display img {
    height: 5em;
    border-radius: var(--radius-default) 0px 0px var(--radius-default);
}

.card_display i {
    width: 40px;
    height: 40px;
    transform: translateX(-50%);
}

/* cards - event */

.card_event {
    grid-template-columns: 1fr;
    align-content: flex-start;
    text-align: center;
    height: 24em;
}

.card_event img {
    height: 10em;
    border-radius: var(--radius-default) var(--radius-default) 0px 0px;
}

.card_event i {
    width: 50px;
    height: 50px;
    transform: translateY(-60%);
}

/* HOME - numbers container */

.numbers-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    justify-content: space-evenly;
    padding: var(--size-100);
}

/* EXHIBITIONS - customer reviews */

.customer-reviews {
    margin-top: var(--size-200);
}

.customer-reviews img {
    object-fit: cover;
    transform: translateY(-60%);
    width: 6em;
    height: 6em;
    border-radius: var(--radius-circle);
}

.customer-reviews div {
    transform: translateY(-40%);
}

/* VISIT */
.visit-container {
    display: grid;
    gap: var(--size-100);
    max-width: 20em;
    margin: auto;
}

.visit-info, .customer-reviews {
    text-align: center;
    padding: var(--size-100);
}

/* GET INVOLVED */

.get-involved-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FOOTER */

.social-links {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    margin-top: var(--size-200);
}

.social-links i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: var(--radius-circle);
}

.footer-nav a {
    display: grid;
    width: 8em;
}

form {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: var(--size-200);
    gap: var(--size-100);
}

input {
    border: none;
    padding: var(--size-50);
}

input::placeholder {
    font-size: var(--fs-body);
    color: var(--clr-black50);
}

/* MOBILE NAV - SPECIAL */
/* Instead of doing the checkbox-hack, I made a seperate page. I am fully aware that this is not
how mobile menus are made, but I feel the checkbox hack messes up my code - unneccesary */

.mobile-nav nav {
    display: grid;
}

.mobile-nav {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.mobile-nav header, .mobile-nav footer {
    min-height: 50px;
}

.mobile-nav main {
    flex: 1;
}


/* MEDIAQUIERIES */

/* defaults for medium and larger screens */
@media (min-width: 600px) {

    /* font size changes */
    :root {
        --fs-body: var(--fs-400);
        --fs-primary-h: var(--fs-900);
        --fs-secondary-h: var(--fs-800);
        --fs-tertiary-h: var(--fs-600);
    }

    .card_display p, .card_display a {
        display: block;
    }

    .card_display {
        grid-template-columns: 1fr;
        align-content: flex-start;
        height: 22em;
        text-align: center;
    }

    .card_display img {
        height: 8em;
        border-radius: var(--radius-default) var(--radius-default) 0px 0px;
    }
    
    .card_display i {
        transform: translateY(-60%);
        width: 50px;
        height: 50px;
    }
    
    .card_display i:last-of-type {
        display: none;
    }

    .display-info {
        text-align: center;
    }

}

/* only medium-sized screens */
@media (min-width: 600px) and (max-width: 879px) {
    .even-columns {
        grid-template-columns: 1fr 1fr;
    }

    .display-info {
        grid-column: 1/3;
    }

    /* visit */
    .visit-container {
        grid-template-columns: 1fr 1fr;
        max-width: 40em;
    }
}

/* only larger screens */
@media (min-width: 880px) {
    
    /* GLOBAL */

    .container {
        max-width: 1100px;
        margin: auto;
    }

    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

    .reverse {
        order: 1;
    }

    /* HEADER */

    /* navigation */
    .top-nav {
        grid-template-columns: 1fr 1fr;
    }

    .top-nav nav {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
    }

    .hamburger-menu {
        display: none;
    }

    /* showcase */
    .header-info-container {
        display: flex;
        justify-content: end;
        max-width: 1000px;
        margin: auto;
    }

    .header-info-flex {
        display: grid;
        grid-template-columns: 1fr;
    }

    /* background */
    header::before {
        margin: auto;
        height: 100%;
        max-width: 40em;
    }

    .home::before {
        background-image: var(--grd-primary-desk), url(/images/vr.jpg);
        height: 100%;
    }

    .visit::before {
        background-image: var(--grd-primary-desk), url(/images/museum.jpg);
    }

    .get-involved::before {
        background-image: var(--grd-primary-desk), url(/images/empty_room.jpg);
    }

    .exhibitions::before {
        background-image: var(--grd-secondary-desk), url(/images/scientific.jpg);
    }

    .events::before {
        background-image: var(--grd-tertiary-desk), url(/images/girl_math.jpg);
    }

    /* MAIN */

    /* display */

    .card:hover .explore-link {
        font-size: var(--fs-500);
    }

    /* event card */
    
    .card_event {
        height: 29em;
    }
    
    .card_event img {
        height: 12em;
    }

    /* visit */
    .visit-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* FOOTER */

    .social-links {
        margin-top: 0;
    }

    .footer-flex {
        display: grid;
        grid-auto-flow: column;
    }
}